<%= form_for @domain do |domain| %>
  <div class="actions">
    <div class="text field">
      <%= domain.label :name, "Domain Name" %>
      <%= domain.text_field :name %>
    </div>

    <div class="radio field">
      Transfer Lock
      <%= domain.radio_button :lock, true %>
      <%= domain.label :lock_true, "Enabled" %>
      <%= domain.radio_button :lock, false %>
      <%= domain.label :lock_false, "Disabled" %>
    </div>

    <div class="radio field">
      WHOIS Privacy
      <%= domain.radio_button :privacy, true %>
      <%= domain.label :privacy_true, "Enabled" %>
      <%= domain.radio_button :privacy, false %>
      <%= domain.label :privacy_false, "Disabled" %>
    </div>

    <div class="whois owner">
      <%= fields_for @domain.owner do |owner| %>
        <h2>Owner</h2>
        <%= render 'whois_form', whois: owner %>
      <% end %>
    </div>

    <div class="whois admin">
      <%= fields_for @domain.admin do |admin| %>
        <h2>Administrator</h2>
        <%= render 'whois_form', whois: admin %>
      <% end %>
    </div>

    <div class="whois billing">
      <%= fields_for @domain.billing do |billing| %>
        <h2>Billing</h2>
        <%= render 'whois_form', whois: billing %>
      <% end %>
    </div>

    <div class="whois tech">
      <%= fields_for @domain.tech do |tech| %>
        <h2>Technical</h2>
        <%= render 'whois_form', whois: tech %>
      <% end %>
    </div>

    <div class="button field">
      <%= domain.button %>
    </div>
  </div>
<% end %>
