<div class="text field">
  <%= whois.label :organization, "Organization" %>
  <%= whois.text_field :organization, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :last_name, "Last name" %>
  <%= whois.text_field :last_name, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :first_name, "First name" %>
  <%= whois.text_field :first_name, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :address1, "Address" %>
  <%= whois.text_field :address1, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :address2, "Address 2" %>
  <%= whois.text_field :address2, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :address3, "Address 3" %>
  <%= whois.text_field :address3, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :city, "City" %>
  <%= whois.text_field :city, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :state, "State" %>
  <%= whois.text_field :state, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :country, "Country" %>
  <%= whois.text_field :country, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :postal_code, "Postal code" %>
  <%= whois.text_field :postal_code, autocomplete: false %>
</div>

<div class="text field">
  <%= whois.label :email, "Email" %>
  <%= whois.email_field :email %>
</div>

<div class="text field">
  <%= whois.label :phone_number, "Phone number" %>
  <%= whois.telephone_field :phone_number %>
</div>
