<h3><%= title %></h3>
<ul class="whois">
  <li>
    <%= contact.organization %>
  </li>
  <li>
    <%= contact.first_name %> <%= contact.last_name %>
  </li>
  <li>
    <%= contact.address1 %>,
    <%= contact.address2 %>
  </li>
  <li>
    <%= contact.city %>,
    <%= contact.state %>,
    <%= contact.country %>.
    <%= contact.postal_code %>
  </li>
  <li>
    <%= contact.phone_number %>
  </li>
</ul>
