<div class="show domain">
  <h1><%= @domain.name %></h1>

  <%= link_to 'Edit', edit_domain_path(@domain) %> |
  <%= link_to 'Back', domains_path %>

  <ul class="properties">
    <li>
      <h2>Registration Date</h2>
      <div class="registration">
        <%= @domain.registration.strftime('%B %d, %Y') %>
      </div>
    </li>
    <li>
      <h2>Expiry Date</h2>
      <div class="expiry">
        <%= @domain.expiry.strftime('%B %d, %Y') %>
      </div>
    </li>
    <li>
      <h2>Transfer Lock</h2>
      <div class="lock">
        <%= @domain.lock ? "On" : "Off" %>
      </div>
    </li>
    <li>
      <h2>WHOIS Privacy</h2>
      <div class="privacy">
        <%= @domain.privacy ? "On" : "Off" %>
      </div>
    </li>
    <li>
      <h2>Authorization Code</h2>
      <div class="epp">
        <%= @domain.epp %>
      </div>
    </li>
    <li>
      <h2>Nameservers</h2>
      <div class="nameservers">
        <% @domain.nameservers.each do |ns| %>
          <%= ns.name %>
          (<%= ns.order %>)
          <% unless @domain.nameservers.last === ns %>|<% end %>
        <% end %>
      </div>
    </li>
    <li>
      <h2>Registration Records</h2>
      <div class="records">
        <%= render partial: 'whois_record', locals: { title: 'Owner', contact: @domain.owner } %>
        <%= render partial: 'whois_record', locals: { title: 'Administrator', contact: @domain.admin } %>
        <%= render partial: 'whois_record', locals: { title: 'Billing', contact: @domain.billing } %>
        <%= render partial: 'whois_record', locals: { title: 'Technical', contact: @domain.tech } %>
      </div>
    </li>
  </ul>
</div>

