<div class="show domain">
  <h1><%= @domain.name %></h1>

  <ul class="properties">
    <li class="registration date">
        <strong>Registration Date:</strong>
        <%= @domain.registration.strftime('%B %d, %Y') %>
    </li>
    <li class="expiry date">
        <strong>Expiry Date:</strong>
        <%= @domain.expiry.strftime('%B %d, %Y') %>
    </li>
    <li class="lock">
      <strong>Transfer Lock</strong>
      <%= @domain.lock ? "On" : "Off" %>
    </li>
    <li class="privacy">
      <strong>WHOIS Privacy</strong>
      <%= @domain.privacy ? "On" : "Off" %>
    </li>
    <li>
      <strong>Authorization Code</strong>
      <%= @domain.epp %>
    </li>
    <li>
      <strong>Nameservers</strong>
      <ul>
        <% @domain.nameservers.each do |ns| %>
          <li><%= ns.name %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
