<!DOCTYPE html>
<html>
<head>
  <title>Registrar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
    <% if notice %>
      <div class="notice">
        <p><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert">
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
